.vscode
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Helm specific files
charts/*/charts/*.tgz
# Keep Chart.lock in version control by default, but can be ignored if preferred
charts/*/Chart.lock
.helm/
